*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    height:100vh;

    display:flex;
    flex-direction:column;
}

.app-header{
    display:flex;
    align-items:center;
    gap:16px;

    padding:16px;

    background:#1976d2;
    color:white;
}

.app-header button{
    font-size:22px;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

main{
    flex:1;

    padding:20px;

    overflow:auto;
}

.bottom-nav{
    display:flex;
}

.bottom-nav button{
    flex:1;

    padding:16px;

    border:none;

    background:#eeeeee;

    cursor:pointer;
}

.bottom-nav button:hover{
    background:#dddddd;
}

.hidden{
    display:none;
}